<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="orderReturnTest" xsi:type="object">Skuld\OrderReturn\Console\Command\OrderReturnTest</item>
            </argument>
        </arguments>
    </type>

    <preference for="Skuld\OrderReturn\Api\Data\RmaReasonForReturnCodesInterface"
                type="Skuld\OrderReturn\Model\RmaReasonForReturnCodes"/>
    <preference for="Skuld\OrderReturn\Api\RmaReasonForReturnCodesRepositoryInterface"
                type="Skuld\OrderReturn\Model\RmaReasonForReturnCodesRepository"/>
</config>
