<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="RmaReasonForReturnCodesTest" xsi:type="object">Skuld\OrderReturn\Console\Command\RmaReasonForReturnCodesTest</item>
                <item name="RmaReturnRequestTypeCodesTest" xsi:type="object">Skuld\OrderReturn\Console\Command\RmaReturnRequestTypeCodesTest</item>
                <item name="RmaRequestItemsTest" xsi:type="object">Skuld\OrderReturn\Console\Command\RmaRequestItemsTest</item>
            </argument>
        </arguments>
    </type>

    <!-- Start RmaReasonForReturnCodes  -->
    <preference for="Skuld\OrderReturn\Api\Data\RmaReasonForReturnCodesInterface"
                type="Skuld\OrderReturn\Model\RmaReasonForReturnCodes"/>
    <preference for="Skuld\OrderReturn\Api\RmaReasonForReturnCodesRepositoryInterface"
                type="Skuld\OrderReturn\Model\RmaReasonForReturnCodesRepository"/>
    <preference for="Skuld\OrderReturn\Api\Data\RmaReasonForReturnCodesSearchResultsInterface"
                type="Skuld\OrderReturn\Model\RmaReasonForReturnCodesSearchResults"/>

    <virtualType name="Skuld\OrderReturn\Virtual\Model\Api\SearchCriteria\RmaReasonForReturnCodesCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters"    xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting"    xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Skuld\OrderReturn\Model\RmaReasonForReturnCodesRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Skuld\OrderReturn\Virtual\Model\Api\SearchCriteria\RmaReasonForReturnCodesCollectionProcessor</argument>
        </arguments>
    </type>
<!-- Finish RmaReasonForReturnCodes  -->

<!-- Start RmaReturnRequestTypeCodes -->
    <preference for="Skuld\OrderReturn\Api\Data\RmaReturnRequestTypeCodesInterface"
                type="Skuld\OrderReturn\Model\RmaReturnRequestTypeCodes"/>
    <preference for="Skuld\OrderReturn\Api\RmaReturnRequestTypeCodesRepositoryInterface"
                type="Skuld\OrderReturn\Model\RmaReturnRequestTypeCodesRepository"/>
    <preference for="Skuld\OrderReturn\Api\Data\RmaReturnRequestTypeCodesSearchResultsInterface"
                type="Skuld\OrderReturn\Model\RmaReturnRequestTypeCodesSearchResults"/>

    <virtualType name="Skuld\OrderReturn\Virtual\Model\Api\SearchCriteria\RmaReturnRequestTypeCodesCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters"    xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting"    xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Skuld\OrderReturn\Model\RmaReturnRequestTypeCodesRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Skuld\OrderReturn\Virtual\Model\Api\SearchCriteria\RmaReturnRequestTypeCodesCollectionProcessor</argument>
        </arguments>
    </type>
    <!-- Finish RmaReturnRequestTypeCodes  -->

    <!-- Start RmaRequestItems  -->
    <preference for="Skuld\OrderReturn\Api\Data\RmaRequestItemsInterface"
                type="Skuld\OrderReturn\Model\RmaRequestItems"/>
    <preference for="Skuld\OrderReturn\Api\RmaRequestItemsRepositoryInterface"
                type="Skuld\OrderReturn\Model\RmaRequestItemsRepository"/>
    <preference for="Skuld\OrderReturn\Api\Data\RmaRequestItemsSearchResultsInterface"
                type="Skuld\OrderReturn\Model\RmaRequestItemsSearchResults"/>

    <virtualType name="Skuld\OrderReturn\Virtual\Model\Api\SearchCriteria\RmaRequestItemsCollectionProcessor" type="Magento\Framework\Api\SearchCriteria\CollectionProcessor">
        <arguments>
            <argument name="processors" xsi:type="array">
                <item name="filters"    xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\FilterProcessor</item>
                <item name="sorting"    xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\SortingProcessor</item>
                <item name="pagination" xsi:type="object">Magento\Framework\Api\SearchCriteria\CollectionProcessor\PaginationProcessor</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Skuld\OrderReturn\Model\RmaRequestItemsRepository">
        <arguments>
            <argument name="collectionProcessor" xsi:type="object">Skuld\OrderReturn\Virtual\Model\Api\SearchCriteria\RmaRequestItemsCollectionProcessor</argument>
        </arguments>
    </type>
    <!-- Finish RmaRequestItems  -->

    <!-- Start RmaRequest  -->
    <!-- Finish RmaRequest  -->
</config>
